/*  Mobile First Design  */
body {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 0;
}

section {
  padding-left: 3%;
  padding-right: 3%;
}

p {
  margin: 0;
  font-size: 1em;
}
#nameTitleSection {
  width: 94%;
  background-color: #82b1ff;
  /* colors will be changed */
}
#mainName {
  font-size: 8em;
}
#mainNameTitle {
  font-size: 4em;
}
.grid-contact {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1%;
}
/* Tablet */

/* Desktop */
