/*  Mobile First Design  */
body {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.header {
  padding-left: 3%;
}
p {
  margin: 0;
}
#mainName {
  font-size: 8em;
}
#mainNameTitle {
  font-size: 4em;
}
/* Tablet */

/* Desktop */
