/*  Mobile First Design  */
body {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 0;
}

section {
  padding-left: 3%;
  padding-right: 3%;
}

p {
  margin: 0;
  font-size: 1em;
  margin-left: 10px;
}

#nameTitleSection {
  width: 94%;
  background-color: #87cefa;
  /* colors will be changed */
}
#mainName {
  font-size: 8em;
}
#mainNameTitle {
  font-size: 4em;
}
.grid-contact {
  background-color: #ffffe0;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1%;
  align-content: center;
  align-items: center;
  text-align: center;
}
.icon {
  width: 50%;
}

.subHeader {
  border-left: 10px solid #87cefa;
  font-size: 2em;
}

/* Tablet */

/* Desktop */
